
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link href="~/lib/bootstrap-rtl/css/bootstrap-flipped.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-rtl/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/core.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }

        .btn-outline-primary {
            background-color: hsl(351, 68%, 11%) !important;
            background-repeat: repeat-x;
            background-image: -o-linear-gradient(top, #d12741, #2f080e);
            background-image: linear-gradient(#d12741, #2f080e);
            color: #fff !important;
            border-style: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
        }

        .bg-primary {
            background-color: hsl(351, 68%, 11%) !important;
            background-repeat: repeat-x;
            background-image: -o-linear-gradient(top, #d12741, #2f080e);
            background-image: linear-gradient(#d12741, #2f080e);
            color: #fff !important;
            border-style: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
        }

        .btn-secondary {
            background-color: hsl(351, 68%, 11%) !important;
            background-repeat: repeat-x;
            background-image: -o-linear-gradient(top, #d12741, #2f080e);
            background-image: linear-gradient(#d12741, #2f080e);
            color: #fff !important;
            border-style: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
        }

            .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
                background-color: hsl(0, 87%, 33%) !important;
                background-repeat: repeat-x;
                background-image: linear-gradient(#fbeded, #de5353);
                color: #333 !important;
                border-style: none !important;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
            }

        .btn-primary {
            background-color: hsl(351, 68%, 11%) !important;
            background-repeat: repeat-x;
            background-image: -o-linear-gradient(top, #d12741, #2f080e);
            background-image: linear-gradient(#d12741, #2f080e);
            color: #fff !important;
            border-style: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
        }

        .footer {
            background: #3d6277;
            padding-top: 2em;
            color: white;
        }
        .bg-info {
            background-color: hsl(351, 68%, 11%) !important;
            background-repeat: repeat-x;
            background-image: -o-linear-gradient(top, #d12741, #2f080e);
            background-image: linear-gradient(#d12741, #2f080e);
            color: #fff !important;
            border-style: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
        }
        
    </style>
    
</head>
<body>
    <div class="bg-info p-2">
        <h4>@ViewBag.Title</h4>
        <div class="col-2">
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </div>
        @if (TempData["message"] != null)
            {
            <div class="alert alert-success">@TempData["message"]</div>
            }
    </div>
         
        <div class="col-12">
            @RenderBody()
        </div>
    

</body>
</html>
